body {
    background-color: #EAF6F6;
    font-family: poppins;
}
hr {
    border-style: none;
    border-top-style: none;
    color: black;
    background-color: white;
    height: 5px;

}
h1,h3 {
    color: #66BFBF;
    font-family: poppins;
}
p {
    color: #3C84AB;
}
/* Classes */
.circular {
    border-radius: 30%;
}
