body {
    background-color: #EAF6F6;
    font-family: poppins;
}
hr {
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 100px;
}
h1,h3 {
    color: #66BFBF;
    font-family: poppins;
}
p {
    color: #3C84AB;
}